pkgbase = ros-noetic-rqt-image-view
	pkgdesc = ROS - rqt_image_view provides a GUI plugin for displaying images using image_transport.
	pkgver = 0.4.17
	pkgrel = 2
	url = https://wiki.ros.org/rqt_image_view
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = boost
	makedepends = ros-noetic-rqt-gui-cpp
	makedepends = ros-noetic-geometry-msgs
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-cv-bridge
	makedepends = ros-noetic-rqt-gui
	makedepends = ros-noetic-sensor-msgs
	makedepends = ros-noetic-image-transport
	makedepends = qt5-base
	depends = ros-noetic-rqt-gui-cpp
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-cv-bridge
	depends = ros-noetic-rqt-gui
	depends = ros-noetic-sensor-msgs
	depends = ros-noetic-image-transport
	source = ros-noetic-rqt-image-view-0.4.17.tar.gz::https://github.com/ros-visualization/rqt_image_view/archive/3803409bd001ca0583f8cc2a80941f53488afc2c.tar.gz
	sha256sums = e1678c198dc92d5e4b5b3a7c4485c9f9ac20a5d04f492063430ae4925fdce6a7

pkgname = ros-noetic-rqt-image-view
